.boxPrice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 50px;
    text-align: center;
    width: auto;
    max-width: 900px;
    min-width: 300px;
    height: auto;
    margin: 30px 0px;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px #ccc;
    transition: transform .5s ease-in-out; /* delay until happen translate (animation) */
}
.pricing .parent .boxPrice:hover {
    transform: translateY(-10px);
}
.boxPrice p {
    width: auto !important;
    margin: 0 !important;
}
.boxPrice h3 {
    font-size: 40px !important;
}
.carousel {
    width: 80%;
    overflow: hidden;
    cursor: grab;
}
.pricing .parent {
    display: flex;
    /* flex-wrap: wrap; */
    gap: 30px;
    justify-content: center;
    align-items: center ;
}
.boxPrice .Button {
    padding: 0px;
    width: 100px;
    font-size: 17px;
    font-family: sans-serif;
    border-radius: 10px;
}

.BorderBottom {
    width: 100%;
    border-bottom: solid #e1dede 2px;
}

.boxPrice div span {
    color: #fb3e3e;
    font-weight: 600;
}
@media (max-width: 500px) {
   .carousel{
        width: 100%;
   }
   .boxPrice {
    line-height: 33px;
    min-width: 252px;
    margin: 30px 0px;
    padding: 20px 30px;
    }
}